body, html {
    font-size: 15.2pt;
    font-family:'Gill Sans', 'Gill Sans MT', 'Comic Sans', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    height: 100%;
    margin: 0;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/181/468/46/portal-game-glados-portal-2-wallpaper-preview.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    font-size: 150%;
    font-family: 'Arial Black', Arial, sans-serif;
}

button {
    color: rgb(155, 207, 255);
    background-color: rgb(20, 20, 145);
    font-family: monospace;
    font-size: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.55em;
    padding: 3px;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
}
button:hover {
    background-color: rgb(0, 115, 255);
    color: rgb(175, 255, 255);
}

#upperBar > div > button {
    margin-top: 5px;
    margin-bottom: 5px;
}

span {
    font-family: monospace;
}

u {
    display: inline-block;
    margin: 6px;
    cursor: pointer;
}

ul {
    margin: 5px;
}

a {
    color:rgb(0, 151, 151);
}

.space {
    margin-bottom: 101vh;
}

.group {
    margin: 10px;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.75);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.bigGroup {
    margin: 30px;
    padding: 15px;
    background-color: rgba(50, 50, 50, 0.7);
    backdrop-filter: blur(8px);
}

.groupTitle {
    background-color: rgba(120, 120, 120, 0.75);
    display: inline-block;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 8px;
}

.bookend {
    margin: 0px;
    padding: 15px;
    background-color: rgba(50, 50, 50, 0.9);
    color: rgb(200, 200, 205);
    backdrop-filter: blur(1.7px);
}

.topbar {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 98vw; /* Since it no longer overflows */
    font-size: calc(8px + 0.9vw);
}

@keyframes popup {
    0% {bottom: -10lvh; visibility: visible;}
    25% {bottom: 10lvh;}
    75% {bottom: 10lvh;}
    100% {bottom: -10lvh;}
}

#scroll {
    font-size: 34px;
    color:rgb(0, 200, 200);
    margin: 5px;
    position: fixed;
    right: 10%;
    animation-name: popup;
    animation-duration: 5000ms;
    animation-delay: 2500ms;
    visibility: hidden;
    z-index: 1;
}

.arrow {
    display: inline-block;
    border: solid rgb(0, 200, 200);
    border-width: 0 4px 4px 0;
    padding: 7px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    bottom: 4px;
    left: 7px;
}

@media (width <= 550px) { /* makes margins and such more compact to fit mobile screen */
    .bigGroup {
        margin: 12px !important;
        padding: 10px !important;
    }
    ul {
        margin: 0 !important;
        padding: 18px !important;
        padding-right: 1px !important;
    }
    .group {
        padding-right: 4px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}